.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 0px 16px rgb(15 47 130 / 29%);
}

.App-link {
  color: #61dafb;
}

.header {
  z-index: 3 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list_con {
  height: 15rem;
  overflow: scroll
}

.res_aside {
  width: 100px !important;
}

.res_head {
  width: 100px !important;
}

.app_header_res {
  padding-left: 100px !important;
}

.app_content_res {
  margin-left: 100px !important;
}

.res_icon {
  width: 85px !important;
}

/* @media screen and (min-width: 992px) {
  .res_aside {
    width: 200px !important;
  }

  .res_head {
    width: 200px !important;
  }

  .app_header_res {
    padding-left: 200px !important;
  }

  .app_content_res {
    margin-left: 200px !important;
  }

  .res_icon {
    width: 24px !important;
  }
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}